/* =========================
   DASHBOARD HEADER
   ========================= */

html, body {
    overflow-x: hidden;
}

.dashboard-content {
    width: 100%;
}

/* Background foto */
.dashboard-hero {
    height: 260px;
    background-image: url('../img/bg-dashboard.png');
    background-size: cover;
    background-position: center;
}

/* Section pembungkus info */
.dashboard-info {
    margin-top: 20px; 
    margin-bottom: 15px;
    background: none !important;
}

/* Card info */
.info-box {
    background-color: #6192D6 !important;
    border-radius: 16px;
    max-width: 1200px;
    min-width: 220px;
    width: 100%;
    padding: 32px 48px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


@media (max-width: 768px) {
    .info-box {
        padding: 24px;
        min-height: auto;
    }
}

/* Judul */
.info-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* Garis kuning kiri kanan judul */
.info-title .line {
    width: 4px;
    height: 24px;
    background-color: #FFD800;
    display: inline-block;
}

/* Deskripsi */
.info-desc {
    font-size: 0.95rem;
    line-height: 1.6;
    margin: 0;
    max-width: 900px;
    margin-bottom: 20px;
    margin-left: 170px !important;
    margin-right: 170px !important;
}

/* =========================
   RESPONSIVE
   ========================= */
@media (max-width: 768px) {
    .dashboard-hero {
        height: 200px;
    }

    .info-box {
        padding: 24px 20px;
    }

    .info-title {
        font-size: 1.1rem;
        gap: 8px;
    }

    .info-desc {
        font-size: 0.9rem;
    }
}

.header-title {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 12px;
}

.header-desc {
    color: #6192D6;
    font-size: 0.9rem;
    max-width: 700px;
}
